body {
  /* Configuração do corpo da página */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  height: 100%;
  background-color: #154360;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

canvas {
  /* Configuração do frame de amostragem da imagem */
  border: 4px solid #D4AC0D;
  background-color: whitesmoke;
}

div {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
}

button {
  /* Configuração dos botões (exceto de upload de imagem) */
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #D4AC0D;
  cursor: pointer;
  border: 1px solid #D4AC0D;
  transition: all 0.3s;
  margin: 1rem;

  button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }

}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

input {
  /*Configuração do botão de upload de imagem*/
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #D4AC0D;
  cursor: pointer;
  border: 1px solid #D4AC0D;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  margin: 1rem;
}

#mostra-img {
  list-style: none;
  margin: 1rem;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: -1rem;
  width: 100px;
}

#botoes {
  padding-bottom: 3rem;
}