body {
  /* cor usada inicialmente #292025 */
  margin: 0;
  padding: 0;
  background-color: #003135;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1 {
  /* cor usada inicialmente #cb4a34 */
  margin: 2% auto 2% auto;
  width: auto;
  font-size: 2.5rem;
  color: #0fa4a0;
  text-shadow: 0 0 1rem#cb4a34, 0 0 0.3rem #0fa4a0;
}

header {
  /* cor usada inicialmente #24040a */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #024950;
}

input[type="file"]::file-selector-button {
  /* cor usada inicialmente #7B1818 -> background e border
     color: white; */
  width: 50%;
  padding: 1%;
  background-color: #964734;
  border: 1px solid #964734;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

input[type="file"] {
  transition: 0.3s;
}

input[type="file"]:hover {
  /* cor usada inicialmente #cb4a34 */

  background-color: #964734;
  box-shadow: 0 0 1rem #964734
}

nav input {
  /* cor usada inicialmente #7B1818 -> background e border
     color: white; */
  margin: 1% 0 1% 1%;
  width: auto;
  background-color: #964734;
  border: 1px solid #964734;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

nav button {
  font-size: 1rem;
}

canvas {
  /* cor usada inicialmente white */
  border: 1px solid white;
}

label {
  /* cor usada inicialmente color: #880808;
  text-shadow: #cb4a34 ... #880808; */
  font-size: 1.3rem;
  color: #964734;
  text-shadow: 0 0 1rem #964734, 0 0 1rem #964734;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

input {
  width: 90%;
  margin: 0 0 5% 0;
}

button {
  /* cor usada inicialmente #7B1818 -> background e border
     color: white; */
  width: 100%;
  margin: 0 0 5% 0;
  padding: 1%;
  background-color: #964734;
  border: 1px solid #964734;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}

button:hover {
  /* cor usada inicialmente #cb4a34 */
  background-color: #cb4a34;
  box-shadow: 0 0 1rem #cb4a34;
}

.valores {
  display: flex;
  flex-direction: row;
  margin: 2% 0 2% 0;
}

.valores input {
  /* cor usada inicialmente color: white;
     backgorund-color: #270000; */
  width: 30%;
  margin: 0 0 0 5%;
  background-color: #270000;
  color: white;
  font-size: 1.2rem;
}

#menuLateral {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 1% 1% 0 1%;
}

#render {
  margin: 1% 0 0 0;
}

#save {
  width: auto;
  margin: 1% 1% 1% 1%;
  padding: 0.3%;
}